html {
    background-color: #8884ff;
}

body {
    background-color: #ffffff; /* Biely pozadie */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #8884ff;
}

.help-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-top: 10%;
}

.help-container h1 {
    color: #8884ff;
}

.help-container h2 {
    color: #640064;
    margin-top: 20px;
}

.help-container p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
}

.help-container a {
    background-color: #8884ff;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.help-container a:hover {
    background-color: #640064;
}
