html {
    background-color: #8884ff;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #8884ff;
}

.menu-container {
    background-color: #ffffff;
    border-radius: 15px;
    height: 80%;
    width: 50%;
    text-align: center;
}

.rules {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae8f1;
    border-radius: 15px;
    margin: 5% auto;
    padding: 20px;
    font-weight: bold;
}

#helpLink,
#startLink {
    background-color: #8884ff;
    color: white;
    padding: 10px 20px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex; /* inline-flex to enable flex properties on inline elements */
    align-items: center; /* Vertically align the content to the center */
    justify-content: center; /* Horizontally align the content to the center */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    height: 20%;
}

#helpLink {
    margin-top: 5%;
}

#helpLink:hover,
#startLink:hover {
    background-color: #b8b0c9;
}

@media only screen and (max-width: 600px) {
    .menu-container {
        width: 90%;
    }

    #helpLink,
    #startLink {
        font-size: 6vw;
        width: 70%;
        height: 12%;
    }

    .rules {
        width: 80%;
    }
}

@media only screen and (max-width: 1301px) {
    .menu-container {
        width: 80%;
    }
}
