.quiz-window {
  background-color: #8884ff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.quiz-container {
  display: block;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  height: 90%;
  width: 50%;
}

.left,
.right {
  background-color: #8884ff;
  height: 100%;
  flex: 1; /* Add flex: 1 to make the left and right divs take up equal space */
}

.flag-container {
  height: 60%;
}

.options-container {
  display: flex;
  flex-direction: row;
}

.option-button {
  background-color: #8884ff;
  color: white;
  padding: 50px 20px; 
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  width: 50%;
  margin: 5%;
}

.correct-answer {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

#flag-image {
  height: auto;
  width: 45%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10%;
  margin-top: 5%;
  max-height: 70%;
  border: 1px solid #000;
}

#hint-image {
  height: 5%;
  position: absolute;
  bottom: 7%; /* Adjust this value to your preference */
  left: 50%; 
  transform: translateX(-50%);
}

#score {
  margin-top: 3%;
  font-weight: bold;
}

#timer {
  margin-top: 1%;
  font-weight: bold;
}


#go-to-index {
  margin-top: 5%;
  background-color: #8884ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#go-to-index:hover {
  background-color: #6060a0;
}


