body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.flag-container {
  text-align: center;
  border: 2px solid #333; /* Add a border with a color of your choice */
  border-radius: 10px; /* Add border-radius for a rounded look */
  height: 80%;
  width: 50%;

}

#flag-image {
  height: auto; /* Adjust the size as needed */
  width: 45%;
  border: 2px solid #333; /* Add a border with a color of your choice */
  border-radius: 10px; /* Add border-radius for a rounded look */
  object-fit: cover; /* Ensure the image covers the container */
  margin-bottom: 10%;
  margin-top: 15%;
}

#country-name {
  font-size: 18px;
  margin-bottom: 20px;
}

#next-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
